h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 800px;
  background-color: #008aff;
  border-bottom-left-radius: 100px;
  position: relative;
  padding: 52px calc(50% - 520px) 0; }
  .header__nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 52px;
    left: 0;
    right: 0; }
  .header__logo {
    display: inline;
    position: absolute;
    top: 52px;
    margin-right: 78px; }
  .header__info {
    font-family: "Open Sans", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 168px;
    color: #fff; }
  .header__tittle {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__text {
    font-size: 17px;
    line-height: 150%;
    margin-top: 32px; }
  .header__button {
    width: 226px;
    height: 50px;
    margin-top: 96px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background: #ff9c8e;
    border-radius: 64px;
    cursor: pointer;
    outline: none;
    -webkit-transition: color 0.5s , background-color 0.5s;
    transition: color 0.5s , background-color 0.5s; }
    .header__button:hover {
      color: #ff9c8e;
      background-color: #fff; }

.nav {
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
  .nav__item {
    white-space: nowrap;
    padding: 8px 28px;
    font-size: 13px;
    line-height: 150%; }
    .nav__item:first-child {
      margin-left: 120px; }
    .nav__item:last-child {
      padding-right: 0;
      margin-left: 100px;
      margin-right: 0; }
  .nav__link {
    position: relative;
    color: white;
    text-decoration: none; }
    .nav__link::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      width: 100%;
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .nav__link:hover::after {
      opacity: 1; }

@media screen and (max-width: 1023px) {
  .nav__list {
    display: none; } }

.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/slider/slide-img-1.png);
  width: 680px;
  height: 680px;
  border-radius: 200px 0 0; }
  .slider__info {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    bottom: 48px;
    left: 144px; }
  .slider__info-tittle {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .slider__info-text {
    font-size: 14px;
    line-height: 140%;
    font-weight: normal;
    margin-top: 8px;
    color: #fff; }
  .slider .arrow {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s; }
    .slider .arrow:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      background-color: #e68989; }
  .slider__arrow-left {
    bottom: 56px;
    left: 55px; }
  .slider__arrow-right {
    bottom: 56px;
    left: 95px; }

html,
body,
ul,
button,
input,
textarea,
section,
p,
h1 {
  border-width: 0;
  margin: auto;
  padding: 0;
  line-height: inherit; }

.section {
  padding: 52px calc(50% - 520px) 0; }
  .section__heading {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    line-height: 78px;
    text-align: center; }
  @media screen and (max-width: 1023px) {
    .section__top {
      text-align: center; } }

.info {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 754px;
  padding: 148px calc(50% - 500px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 1023px) {
    .info {
      grid-template-columns: 1fr;
      padding: 148px 64px; } }
  .info__heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .info__text {
    font-family: "Open Sans", sans-serif;
    color: #6c788b; }

.expertise {
  display: grid;
  grid-gap: 130px;
  grid-template-columns: repeat(3, 257px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 1023px) {
    .expertise {
      grid-template-columns: 1fr;
      grid-gap: 50px; } }

.expertise__section {
  background-color: #fff;
  padding: 128px 0; }
  .expertise__section .box {
    text-align: center;
    margin-top: 64px; }
    @media screen and (max-width: 1023px) {
      .expertise__section .box {
        max-width: 400px;
        margin: 0 auto; } }
    .expertise__section .box__photo {
      width: 184px;
      height: 166px;
      border-radius: 20%; }
    .expertise__section .box__name {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      margin-top: 40px;
      margin-bottom: 16px; }
    .expertise__section .box__text {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      color: #6c788b; }

.testimonials {
  position: relative;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(3, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 1023px) {
    .testimonials {
      grid-template-columns: 1fr;
      grid-gap: 10px; } }
  .testimonials__heading {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #6c788b; }
  .testimonials__text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin: 0; }

.person {
  text-align: center;
  margin-top: 85px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 87px 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }
  .person__photo {
    position: relative;
    margin-bottom: 111px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 2; }
  .person__decor_left {
    position: absolute;
    top: 35%;
    right: 50%;
    width: 139px;
    height: 56px;
    border-radius: 30px;
    background-color: #31b9e2;
    -webkit-transform: rotate(-60deg) translate(50%, -50%);
            transform: rotate(-60deg) translate(50%, -50%);
    z-index: 1; }
  .person__decor_right {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 139px;
    height: 56px;
    border-radius: 30px;
    background-color: #31b9e2;
    -webkit-transform: rotate(-60deg) translate(50%, -50%);
            transform: rotate(-60deg) translate(50%, -50%);
    z-index: 1; }
  .person__name {
    font-size: 13px;
    line-height: 150%;
    margin-top: 16px;
    margin-bottom: 4px;
    color: #253757; }
  .person__text {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    max-width: 250px; }
  .person__position {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    color: #6c788b; }
  @media screen and (max-width: 1023px) {
    .person {
      max-width: 400px;
      margin: 50px auto; } }

.process {
  display: grid;
  grid-template-columns: 360px 550px;
  grid-gap: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .process__name {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-align: start;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-top: 90px; }
  .process__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 130%;
    text-align: start;
    color: #253757; }
  .process__text {
    font-family: "Open Sans", sans-serif;
    margin-top: 24px;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    text-align: start; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 264px);
  grid-gap: 30px; }
  .container__card {
    background-color: #fff;
    position: relative;
    padding: 0 32px;
    height: 264px;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px; }
    .container__card:nth-child(odd) {
      -webkit-transform: translateY(50%);
              transform: translateY(50%); }
  .container__number {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    width: 46px;
    height: 20px;
    text-align: center;
    margin-top: 34px;
    border-radius: 23px; }
  .container__text {
    font-family: "Open Sans", sans-serif;
    width: 200px;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-top: 26px;
    margin-bottom: 40px; }
  .container__button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
    text-decoration: none;
    margin-left: 88px;
    margin-bottom: 40px; }
  .container__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 32px;
    bottom: 32px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .container__icon:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .container__img {
    position: absolute;
    width: 20px;
    top: 10px;
    left: 10px; }
  .container__number-first, .container__icon-first {
    background-color: #56ccf2;
    color: #5f5fc8; }
  .container__number-second, .container__icon-second {
    background-color: #fcc91d;
    color: #9c9e25; }
  .container__number-third, .container__icon-third {
    background-color: #f36363;
    color: #b43a3a; }
  .container__number-forth, .container__icon-forth {
    background-color: #15d850;
    color: #178f27; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
