@charset "UTF-8";
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 850px;
  background-color: #008aff;
  border-bottom-left-radius: 100px;
  position: relative;
  padding: 52px calc(50% - 520px) 0; }
  @media screen and (max-width: 1050px) {
    .header {
      padding: 20px;
      border-bottom-left-radius: 0; } }
  .header__nav {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 1; }
  .header__logo {
    display: inline;
    position: absolute;
    top: 55px;
    margin-right: 78px;
    z-index: 2; }
  .header__img {
    padding-left: 25px; }
    @media screen and (max-width: 1050px) {
      .header__img {
        padding-left: 0; } }
  .header__info {
    font-family: "Open Sans", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 168px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (max-width: 1050px) {
      .header__info {
        position: absolute;
        top: 20px;
        left: calc(50% - 135px);
        margin-top: 100px; } }
  .header__tittle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
    @media screen and (max-width: 1050px) {
      .header__tittle {
        font-size: 44px; } }
  .header__text {
    font-size: 17px;
    line-height: 150%;
    margin-top: 32px; }
    @media screen and (max-width: 1050px) {
      .header__text {
        font-size: 15px; } }
  .header__button {
    width: 226px;
    height: 50px;
    margin-top: 96px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background-color: #ff9c8e;
    border-radius: 64px;
    cursor: pointer;
    outline: none;
    -webkit-transition: color 0.5s , background-color 0.5s;
    transition: color 0.5s , background-color 0.5s; }
    .header__button:hover {
      color: #ff9c8e;
      background-color: #fff; }
    @media screen and (max-width: 1050px) {
      .header__button {
        margin-top: 26px; } }

.nav {
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    font-size: 20px; }
  .nav__item {
    white-space: nowrap;
    padding: 8px 28px;
    font-size: 15px;
    line-height: 150%; }
    .nav__item:first-child {
      margin-left: 120px; }
    .nav__item:last-child {
      margin-left: 100px;
      padding-right: 27px; }
  .nav__link {
    position: relative;
    color: white;
    text-decoration: none; }
    .nav__link::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      width: 100%;
      height: 3px;
      background: #ff9c8e;
      border-radius: 4px;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .nav__link:hover::after {
      opacity: 1; }

.menu__toggle {
  opacity: 0;
  position: absolute;
  top: -100%; }

@media screen and (max-width: 1050px) {
  .nav__list {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 400px;
    font-size: 20px;
    line-height: 20px;
    list-style: none;
    background-color: #008aff; }
  .nav__link {
    display: block;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; }
  .nav__item:first-child {
    margin-left: 0; }
  .nav__item:last-child {
    margin-left: 0; }
  .nav .menu__span,
  .nav .menu__span::before,
  .nav .menu__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav .menu__span::before {
    content: "";
    top: -8px; }
  .nav .menu__span::after {
    content: "";
    top: 8px; }
  .nav .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .nav .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .nav .menu__toggle:checked ~ .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    position: relative;
    top: 32px; }
  .nav .menu__btn {
    display: block;
    position: absolute;
    top: 45px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3; } }

.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/slider/slide-img-1.png);
  width: 680px;
  height: 680px;
  border-radius: 200px 0 0; }
  @media screen and (max-width: 1050px) {
    .slider {
      width: 90vw;
      height: 400px;
      background-repeat: no-repeat; } }
  .slider__info {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    padding-right: 20px;
    bottom: 48px;
    left: 144px; }
  .slider__info-tittle {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .slider__info-text {
    font-size: 14px;
    line-height: 140%;
    font-weight: normal;
    margin-top: 8px;
    color: #fff; }
  .slider .arrow {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s; }
    .slider .arrow:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      background-color: #ff9c8e;
      cursor: pointer; }
    .slider .arrow-img {
      position: absolute;
      top: 11px;
      left: 13px; }
  .slider__arrow-left {
    bottom: 56px;
    left: 55px; }
  .slider__arrow-right {
    bottom: 56px;
    left: 95px; }

html,
body,
ul,
button,
input,
textarea,
section,
p,
h1 {
  border-width: 0;
  margin: auto;
  padding: 0;
  line-height: inherit; }

.section {
  padding: 50px calc(50% - 520px) 0; }
  .section__heading {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    line-height: 78px;
    text-align: center; }
    @media screen and (max-width: 1050px) {
      .section__heading {
        font-size: 32px;
        padding-top: 0; } }
  @media screen and (max-width: 1050px) {
    .section__top {
      text-align: center; } }

.info {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 754px;
  padding: 148px calc(50% - 500px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px; }
  @media screen and (max-width: 1050px) {
    .info {
      grid-template-columns: 1fr;
      padding: 50px 64px; } }
  .info__heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .info__text {
    font-family: "Open Sans", sans-serif;
    color: #6c788b; }

.expertise {
  display: grid;
  grid-gap: 90px;
  grid-template-columns: repeat(3, 257px);
  padding: 0 40px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 1050px) {
    .expertise {
      grid-template-columns: 1fr;
      grid-gap: 50px;
      padding-top: 50px; } }

.expertise__section {
  background-color: #fff; }
  .expertise__section .box {
    text-align: center;
    margin-top: 64px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 1050px) {
      .expertise__section .box {
        max-width: 250px;
        margin: 0 auto; } }
    .expertise__section .box__photo {
      width: 184px;
      height: 166px;
      border-radius: 20%; }
    .expertise__section .box__name {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      margin-top: 40px;
      margin-bottom: 16px; }
    .expertise__section .box__text {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      color: #6c788b; }

.testimonials {
  position: relative;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(3, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px; }
  .testimonials__top {
    padding-top: 100px;
    padding-left: 20px; }
  @media screen and (max-width: 1050px) {
    .testimonials {
      grid-template-columns: 1fr;
      grid-gap: 10px; }
      .testimonials__top {
        text-align: center; } }
  .testimonials__heading {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #6c788b; }
  .testimonials__text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin: 0; }

.person {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 168px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 87px 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .person:hover {
    -webkit-box-shadow: 0 1px 20px 1px rgba(49, 185, 226, 0.5);
            box-shadow: 0 1px 20px 1px rgba(49, 185, 226, 0.5); }
  .person__photo {
    position: relative;
    margin-bottom: 111px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 2; }
  .person__decor_left {
    position: absolute;
    top: 35%;
    right: 50%;
    width: 139px;
    height: 56px;
    border-radius: 30px;
    background-color: #31b9e2;
    -webkit-transform: rotate(-60deg) translate(50%, -50%);
            transform: rotate(-60deg) translate(50%, -50%);
    z-index: 1; }
  .person__decor_right {
    position: absolute;
    top: 50%;
    right: 15%;
    width: 139px;
    height: 56px;
    border-radius: 30px;
    background-color: #31b9e2;
    -webkit-transform: rotate(-60deg) translate(50%, -50%);
            transform: rotate(-60deg) translate(50%, -50%);
    z-index: 1; }
  .person__name {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 150%;
    margin-top: 16px;
    margin-bottom: 4px;
    color: #253757; }
  .person__text {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    max-width: 250px; }
    .person__text::before {
      content: "“";
      position: absolute;
      font-size: 48px;
      color: #31b9e2;
      top: 65%;
      right: 50%;
      width: 20px;
      height: 18px; }
  .person__position {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    color: #6c788b; }
  @media screen and (max-width: 1050px) {
    .person {
      max-width: 400px;
      margin: 50px auto; } }

.process {
  display: grid;
  grid-template-columns: 360px 550px;
  grid-gap: 70px;
  padding: 40px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 1050px) {
    .process {
      grid-template-columns: 280px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 0; }
      .process__header {
        margin: 0 auto; } }
  .process__name {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-align: start;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-top: 90px; }
    @media screen and (max-width: 1050px) {
      .process__name {
        margin-top: 30px; } }
  .process__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 130%;
    text-align: start;
    color: #253757; }
  .process__text {
    font-family: "Open Sans", sans-serif;
    margin-top: 24px;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    text-align: start; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-gap: 30px; }
  @media screen and (max-width: 1050px) {
    .container {
      grid-template-columns: auto auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 50px; } }
  @media screen and (max-width: 650px) {
    .container {
      grid-template-columns: 240px; } }
  .container__card {
    background-color: #fff;
    position: relative;
    padding: 0 32px;
    height: 264px;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    z-index: 2;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .container__card:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 3px 3px 1px #c0c2cc;
              box-shadow: 0 3px 3px 1px #c0c2cc; }
    .container__card:nth-child(odd) {
      -webkit-transform: translateY(50%);
              transform: translateY(50%); }
    @media screen and (max-width: 1050px) {
      .container__card:nth-child(odd) {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }
  .container__number {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 46px;
    height: 20px;
    text-align: center;
    margin-top: 34px;
    border-radius: 23px; }
  .container__text {
    font-family: "Open Sans", sans-serif;
    width: 200px;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-top: 26px;
    margin-bottom: 45px; }
  .container__button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
    text-decoration: none;
    margin-left: 60px;
    text-align: center;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .container__button:hover {
      background-color: #f1f1f1; }
  .container__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 32px;
    bottom: 32px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .container__icon:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .container__img {
    position: absolute;
    width: 20px;
    top: 10px;
    left: 10px; }
  .container__number-first, .container__icon-first {
    background-color: #56ccf2;
    color: #5f5fc8; }
  .container__number-second, .container__icon-second {
    background-color: #fcc91d;
    color: #9c9e25; }
  .container__number-third, .container__icon-third {
    background-color: #f36363;
    color: #b43a3a; }
  .container__number-forth, .container__icon-forth {
    background-color: #15d850;
    color: #178f27; }

.approach {
  position: relative;
  padding: 0; }
  .approach__section {
    padding-left: 0;
    padding-right: 0;
    max-width: 1160px; }
    @media screen and (max-width: 1050px) {
      .approach__section {
        padding-left: 0; } }
  .approach__container {
    display: grid;
    grid-template-columns: 335px;
    grid-gap: 50px;
    background-color: #ff9c8e;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
    padding-top: 204px;
    padding-bottom: 204px;
    padding-left: 40px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    color: #fff; }
    @media screen and (max-width: 1050px) {
      .approach__container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 20px; } }
    @media screen and (max-width: 400px) {
      .approach__container {
        grid-template-columns: 240px;
        padding-left: 15px; } }
  .approach__name {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px; }
  .approach__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 150%; }
  .approach__item {
    position: relative;
    font-family: "Open Sans", sans-serif;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
    line-height: 150%;
    margin-left: 70px; }
    @media screen and (max-width: 1050px) {
      .approach__item {
        padding-left: 20px; } }
  .approach__icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -70px;
    top: calc(50% - 30px); }
  .approach__img {
    position: absolute;
    top: calc(50% - 12px);
    right: calc(50% - 10px); }
  .approach__photo {
    position: absolute;
    height: 680px;
    bottom: 0;
    right: 0; }
    @media screen and (max-width: 1050px) {
      .approach__photo {
        display: none; } }

.apply {
  background-color: #fff;
  padding: 50px 82px;
  background-image: url(../images/footer/shapes.svg);
  background-repeat: no-repeat;
  background-size: 100%; }
  @media screen and (max-width: 1050px) {
    .apply {
      padding: 20px;
      background-size: 100%;
      height: 450px; } }
  .apply__section {
    padding-bottom: 40px;
    background-color: #fff; }
  .apply__container {
    text-align: center;
    padding-top: 40px; }
  .apply__title {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    line-height: 150%;
    color: #253757; }
    @media screen and (max-width: 1050px) {
      .apply__title {
        font-size: 32px;
        line-height: 100%; } }
  .apply__text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }
  .apply__link {
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 226px;
    height: 56px;
    line-height: 56px;
    background-color: #ff9c8e;
    border-radius: 64px;
    margin: 40px auto;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .apply__link:hover {
      background-color: #253757;
      color: #ff9c8e; }

.footer {
  padding: 180px calc(50% - 520px) 85px;
  background-color: #008aff;
  border-top-right-radius: 100px; }
  @media screen and (max-width: 1050px) {
    .footer {
      padding-top: 50px; } }
  .footer__section {
    background-color: #fff; }
  .footer__input {
    font-size: 15px;
    padding: 0 30px; }
  .footer__logo {
    position: relative; }
    @media screen and (max-width: 1050px) {
      .footer__logo {
        margin-left: 50px; } }
  .footer__img {
    position: absolute;
    top: 190px;
    padding-left: 20px; }
    @media screen and (max-width: 1050px) {
      .footer__img {
        display: none; } }
  .footer__nav {
    margin-top: 190px;
    margin-left: 70px; }
    @media screen and (max-width: 1050px) {
      .footer__nav {
        display: none; } }
  .footer__container {
    display: grid;
    grid-template-columns: 360px 360px;
    grid-gap: 150px;
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 850px) {
      .footer__container {
        grid-template-columns: 300px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        grid-gap: 10px; } }
  .footer__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 150%;
    text-align: start; }
  .footer__item {
    width: 80%;
    height: 40px;
    margin: 30px 0;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background-color: #008aff; }
    .footer__item::-webkit-input-placeholder {
      font-size: 15px;
      color: #fff; }
    .footer__item::-moz-placeholder {
      font-size: 15px;
      color: #fff; }
    .footer__item:-ms-input-placeholder {
      font-size: 15px;
      color: #fff; }
    .footer__item::-ms-input-placeholder {
      font-size: 15px;
      color: #fff; }
    .footer__item::placeholder {
      font-size: 15px;
      color: #fff; }
  .footer__button {
    width: 226px;
    height: 50px;
    margin-top: 96px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background: #ff9c8e;
    border-radius: 64px;
    cursor: pointer;
    outline: none;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .footer__button:hover {
      color: #ff9c8e;
      background-color: #fff; }

.contact {
  padding: 0 30px; }
  .contact__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 150%; }
  .contact__name {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    opacity: 0.5; }
  .contact__phone, .contact__address {
    font-family: "Open Sans", sans-serif;
    font-style: 24px;
    line-height: 150%;
    margin-top: 8px;
    margin-bottom: 48px; }
  .contact__icon {
    text-decoration: none;
    margin-right: 45px;
    margin-top: 20px; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
